* {
  box-sizing: border-box;
}

.container {
  max-width: 1297px;
  margin: auto;
}

.hero {
  max-width: 1297px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  body {
    background-position: center;
  }
  .navbar__email {
    margin-right: 50px;
  }
  .hero__ship-description {
    margin-bottom: 15px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px 0 30px;
  }
}
@font-face {
  font-family: "../fonts/Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "../fonts/Proxima Nova Thin";
  src: url("../fonts/ProximaNovaT-Thin.eot");
  src: url("../fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.navbar {
  font-size: 14px;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar__second-line {
  text-transform: uppercase;
}

.navbar__second-line {
  display: flex;
  align-items: center;
  min-height: 70px;
  justify-content: space-between;
}

.navbar__first-line {
  display: flex;
  align-items: center;
  min-height: 60px;
  justify-content: space-between;
  width: 100%;
}

.navbar__line {
  background-color: #9BADCF;
  height: 1px;
  width: 100%;
}

.logo__text {
  color: #FFFFFF;
  font-size: 25px;
  margin-right: 70px;
}

.navbar__search-input {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.navbar__search-button {
  background-color: transparent;
  border: none;
}

.navbar__search-button:before {
  background-color: transparent;
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: white;
}

.navbar__email {
  margin-left: 50px;
}

@media (max-width: 991px) {
  .navbar__second-line {
    display: none;
  }
  .navbar__mobile, .navbar__email {
    display: none;
  }
}
header {
  background: url(../img/background.png) no-repeat center;
  background-size: cover;
}

.navbar {
  font-weight: bold;
  font-family: "../fonts/Proxima Nova Regular";
}

.hero {
  color: white;
  font-family: "../fonts/Proxima Nova Thin";
  background: #4768A6;
  background-color: transparent;
}
.hero__buttons-scroll {
  margin-top: 131px;
  margin-right: 0;
  width: 150px;
  height: 70px;
}
.hero-wrap {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.hero-paddings {
  display: flex;
  width: 526px;
  height: 150px;
  margin: 0;
  padding-left: 35px;
}
.hero__ship-description {
  dispaly: flex;
  bottom: 200px;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 15px;
}
.hero__ship-description-title {
  display: inline-block;
  font-family: "../fonts/Proxima Nova Regular";
  font-weight: 100;
  padding-left: 35px;
  padding-top: 30px;
}
.hero__ship-description-frame {
  background: rgba(51, 51, 51, 0.3);
}
.hero__ship-description_mean {
  margin-left: 100px;
}
.hero__button-left {
  font-family: "../fonts/Proxima Nova Regular";
  text-align: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-top: 20px;
  margin-right: 20px;
  background-color: transparent;
  font-size: 25px;
  color: white;
  background: #133D8D;
}
.hero__button-right {
  font-family: "../fonts/Proxima Nova Regular";
  text-align: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-bottom: 131px;
  background-color: transparent;
  font-size: 25px;
  color: white;
  background: #133D8D;
}

.hero-text {
  font-size: 60px;
}

.hero__info {
  margin-top: 120px;
  margin-bottom: 30px;
}

.hero__description {
  padding: 20px;
  margin-top: 25px;
  max-width: 450px;
  border-left: 2px solid white;
  font-size: 14px;
}

.hero__button-basic {
  border: none;
  min-height: 51px;
  min-width: 170px;
  background-color: #BD0007;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "../fonts/Proxima Nova Regular";
  margin-top: 75px;
}

@media (max-width: 991px) {
  .hero-wrap {
    display: none;
  }
  .hero-text {
    font-size: 25px;
  }
  .hero__button-basic {
    position: relative;
    left: 35px;
  }
}
.news {
  margin-bottom: 160px;
}
.news__title {
  font-family: "../fonts/Proxima Nova Thin";
  font-size: 36px;
  margin-top: 137px;
  font-weight: 900;
}
.news__notes {
  font-family: "../fonts/Proxima Nova Thin";
  color: white;
  width: 310px;
  height: 330px;
}
.news__notes:nth-child(1) {
  background: url("../../img/news1.jpg");
  background-size: cover;
}
.news__notes:nth-child(2) {
  background: url("../../img/news2.jpg");
  background-size: cover;
}
.news__notes:nth-child(3) {
  background: url("../../img/news3.jpg");
  background-size: cover;
}
.news__notes:nth-child(4) {
  background: url("../../img/news4.jpg");
  background-size: cover;
}
.news__notes_date {
  font-size: 12px;
  background-color: #BD0007;
  margin-top: 25px;
  margin-left: 25px;
  padding: 8px 12px 5px 12px;
  display: inline-block;
  box-sizing: border-box;
}
.news__notes_main {
  margin: 108px 29px 0px 25px;
  font-size: 16px;
  font-family: "../fonts/Proxima Nova Regular";
}
.news__notes_secondary {
  margin: 15px 29px 25px 25px;
  font-size: 14px;
}
.news__notes_secondary-spec {
  margin-top: 33px;
}
.news-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.history {
  background: #133D8D;
  color: white;
  font-family: "../fonts/Proxima Nova Thin";
}
.history__text_title {
  display: inline-block;
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 40px;
}
.history__text_description {
  width: 526px;
  height: 428px;
}
.history-wrap {
  display: flex;
  justify-content: space-between;
}
.history__visual_img {
  margin-top: 226px;
  width: 606px;
  height: 377px;
  background: #133D8D url(../../img/history.png) no-repeat center;
  background-size: contain;
  background-position: 100%;
}
.history__visual {
  margin-left: 134px;
}
.history__visual_points {
  margin-left: 50px;
}
.history__text {
  margin-bottom: 120px;
}

.publications__title {
  font-size: 36px;
  font-family: "../fonts/Proxima Nova Regular";
  text-transform: uppercase;
  margin-top: 150px;
}
.publications__notes {
  width: 306px;
  height: 480px;
  margin-top: 100px;
}
.publications__notes_img {
  height: 260px;
  width: 306px;
  background-size: cover;
}
.publications__notes_date {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "../fonts/Proxima Nova Thin";
}
.publications__notes_main {
  font-size: 16px;
  font-family: "../fonts/Proxima Nova Regular";
  font-weight: bold;
}
.publications__notes_secondary {
  margin-top: 20px;
  color: #133D8D;
  font-size: 14px;
}
.publications-wrap {
  display: flex;
  margin-top: 100px;
  margin-bottom: 206px;
  justify-content: space-between;
}

.projects {
  background: #899DC5;
  color: white;
  font-family: "../fonts/Proxima Nova Regular";
}
.projects p {
  margin: 0;
}
.projects-info-wrap {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-bottom: 85px;
}
.projects__title {
  font-size: 36px;
  margin-top: 125px;
  margin-bottom: 20px;
  align-self: flex-end;
  text-transform: uppercase;
}
.projects__buttons_description {
  margin-right: 40px;
  margin-left: 800px;
  margin-top: 125px;
  font-weight: 600;
  align-self: flex-end;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.projects__buttons {
  margin-top: 125px;
}
.projects__buttons_left {
  text-align: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-top: 20px;
  margin-right: 15px;
  background-color: transparent;
  font-size: 25px;
  color: white;
  background: #133D8D;
}
.projects__buttons_right {
  text-align: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-top: 20px;
  background-color: transparent;
  font-size: 25px;
  color: white;
  background: #133D8D;
}
.projects__img {
  width: 706px;
  height: 600px;
  background: url("../../img/background-projects.jpg");
  background-size: cover;
}
.projects__img_title {
  display: block;
  margin: 500px 500px 0px 0px;
}/*# sourceMappingURL=style.css.map */