* {
  box-sizing: border-box;
}

.container {
  max-width: 1297px;
  margin: auto;
}

.hero {
  max-width: 1297px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  body {
    background-position: center;
  }
  .navbar__email {
    margin-right: 50px;
  }
  .hero__ship-description {
    margin-bottom: 15px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px 0 30px;
  }
}
@font-face {
  font-family: "../fonts/Proxima Nova Regular";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "../fonts/Proxima Nova Thin";
  src: url("../fonts/ProximaNovaT-Thin.eot");
  src: url("../fonts/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaT-Thin.woff") format("woff"), url("../fonts/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.navbar {
  font-size: 14px;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar__second-line {
  text-transform: uppercase;
}

.navbar__second-line {
  display: flex;
  align-items: center;
  min-height: 70px;
  justify-content: space-between;
}

.navbar__first-line {
  display: flex;
  align-items: center;
  min-height: 60px;
  justify-content: space-between;
  width: 100%;
}

.navbar__line {
  background-color: #9BADCF;
  height: 1px;
  width: 100%;
}

.logo__text {
  color: #FFFFFF;
  font-size: 25px;
  margin-right: 70px;
}

.navbar__search-input {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.navbar__search-button {
  background-color: transparent;
  border: none;
}

.navbar__search-button:before {
  background-color: transparent;
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: white;
}

.navbar__email {
  margin-left: 50px;
}

@media (max-width: 991px) {
  .navbar__second-line {
    display: none;
  }
  .navbar__mobile, .navbar__email {
    display: none;
  }
}
header {
  background: url(../img/background.png) no-repeat center;
  background-size: cover;
}

.navbar {
  font-weight: bold;
  font-family: "../fonts/Proxima Nova Regular";
}

.hero {
  color: white;
  font-family: "../fonts/Proxima Nova Thin";
  background: #4768A6;
  background-color: transparent;
}
.hero__buttons-scroll {
  margin-top: 131px;
  margin-right: 0;
  width: 150px;
  height: 70px;
}
.hero-wrap {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.hero-paddings {
  display: flex;
  width: 526px;
  height: 150px;
  margin: 0;
  padding-left: 35px;
}
.hero__ship-description {
  dispaly: flex;
  bottom: 200px;
  font-weight: 100;
  font-size: 14px;
  margin-bottom: 15px;
}
.hero__ship-description-title {
  display: inline-block;
  font-family: "../fonts/Proxima Nova Regular";
  font-weight: 100;
  padding-left: 35px;
  padding-top: 30px;
}
.hero__ship-description-frame {
  background: rgba(51, 51, 51, 0.3);
}
.hero__ship-description_mean {
  margin-left: 100px;
}
.hero__button-left {
  font-family: "../fonts/Proxima Nova Regular";
  text-align: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-top: 20px;
  margin-right: 20px;
  background-color: transparent;
  font-size: 25px;
  color: white;
  background: #133D8D;
}
.hero__button-right {
  font-family: "../fonts/Proxima Nova Regular";
  text-align: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-bottom: 131px;
  background-color: transparent;
  font-size: 25px;
  color: white;
  background: #133D8D;
}

.hero-text {
  font-size: 60px;
}

.hero__info {
  margin-top: 120px;
  margin-bottom: 30px;
}

.hero__description {
  padding: 20px;
  margin-top: 25px;
  max-width: 450px;
  border-left: 2px solid white;
  font-size: 14px;
}

.hero__button-basic {
  border: none;
  min-height: 51px;
  min-width: 170px;
  background-color: #BD0007;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "../fonts/Proxima Nova Regular";
  margin-top: 75px;
}

@media (max-width: 991px) {
  .hero-wrap {
    display: none;
  }
  .hero-text {
    font-size: 25px;
  }
  .hero__button-basic {
    position: relative;
    left: 35px;
  }
}
.news {
  margin-bottom: 160px;
}
.news__title {
  font-family: "../fonts/Proxima Nova Thin";
  font-size: 36px;
  margin-top: 137px;
  font-weight: 900;
}
.news__notes {
  font-family: "../fonts/Proxima Nova Thin";
  color: white;
  width: 310px;
  height: 330px;
}
.news__notes:nth-child(1) {
  background: url("../../img/news1.jpg");
  background-size: cover;
}
.news__notes:nth-child(2) {
  background: url("../../img/news2.jpg");
  background-size: cover;
}
.news__notes:nth-child(3) {
  background: url("../../img/news3.jpg");
  background-size: cover;
}
.news__notes:nth-child(4) {
  background: url("../../img/news4.jpg");
  background-size: cover;
}
.news__notes_date {
  font-size: 12px;
  background-color: #BD0007;
  margin-top: 25px;
  margin-left: 25px;
  padding: 8px 12px 5px 12px;
  display: inline-block;
  box-sizing: border-box;
}
.news__notes_main {
  margin: 108px 29px 0px 25px;
  font-size: 16px;
  font-family: "../fonts/Proxima Nova Regular";
}
.news__notes_secondary {
  margin: 15px 29px 25px 25px;
  font-size: 14px;
}
.news__notes_secondary-spec {
  margin-top: 33px;
}
.news-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.history {
  background: #133D8D;
  color: white;
  font-family: "../fonts/Proxima Nova Thin";
}
.history__text_title {
  display: inline-block;
  font-size: 36px;
  margin-top: 120px;
  margin-bottom: 40px;
}
.history__text_description {
  width: 526px;
  height: 428px;
}
.history-wrap {
  display: flex;
  justify-content: space-between;
}
.history__visual_img {
  margin-top: 226px;
  width: 606px;
  height: 377px;
  background: #133D8D url(../../img/history.png) no-repeat center;
  background-size: contain;
  background-position: 100%;
}
.history__visual {
  margin-left: 134px;
}
.history__visual_points {
  margin-left: 50px;
}
.history__text {
  margin-bottom: 120px;
}

.publications__title {
  font-size: 36px;
  font-family: "../fonts/Proxima Nova Regular";
  text-transform: uppercase;
  margin-top: 150px;
}
.publications__notes {
  width: 306px;
  height: 480px;
  margin-top: 100px;
}
.publications__notes_img {
  height: 260px;
  width: 306px;
  background-size: cover;
}
.publications__notes_date {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "../fonts/Proxima Nova Thin";
}
.publications__notes_main {
  font-size: 16px;
  font-family: "../fonts/Proxima Nova Regular";
  font-weight: bold;
}
.publications__notes_secondary {
  margin-top: 20px;
  color: #133D8D;
  font-size: 14px;
}
.publications-wrap {
  display: flex;
  margin-top: 100px;
  margin-bottom: 206px;
  justify-content: space-between;
}

.projects {
  background: #899DC5;
  color: white;
  font-family: "../fonts/Proxima Nova Regular";
  margin-bottom: 150px;
  height: 1100px;
}
.projects p {
  margin: 0;
}
.projects-info-wrap {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  margin-bottom: 85px;
}
.projects__title {
  font-size: 36px;
  margin-top: 125px;
  margin-bottom: 20px;
  align-self: flex-end;
  text-transform: uppercase;
}
.projects__buttons_description {
  margin-right: 40px;
  margin-left: 800px;
  margin-top: 125px;
  font-weight: 600;
  align-self: flex-end;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.projects__buttons {
  margin-top: 125px;
}
.projects__buttons_left {
  text-align: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-top: 20px;
  margin-right: 15px;
  background-color: transparent;
  font-size: 25px;
  color: white;
  background: #133D8D;
}
.projects__buttons_right {
  text-align: center;
  width: 60px;
  height: 60px;
  border: none;
  margin-top: 20px;
  background-color: transparent;
  font-size: 25px;
  color: white;
  background: #133D8D;
}
.projects__img {
  width: 706px;
  height: 600px;
  background: url("../../img/background-projects.jpg");
  background-size: cover;
}
.projects__img_title {
  margin: 441px 193px 20px 45px;
  font-size: 24px;
}
.projects__img_description {
  margin: 0px 193px 45px 45px;
  font-size: 14px;
}
.projects__info {
  width: 590px;
  height: 600px;
  background-color: #133D8D;
  font-size: 14px;
}
.projects__info span {
  font-size: 40px;
}
.projects__info-wrap {
  display: flex;
  flex-wrap: wrap;
  position: static;
  justify-content: space-between;
  margin-top: 80px;
  margin-right: 60px;
  margin-left: 60px;
}
.projects__info_properties {
  width: 206px;
  height: 106px;
}
.projects__info_button {
  margin: 217px 360px 55px 60px;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px 14px 30px;
  border: 1px solid white;
  text-transform: uppercase;
  background: transparent;
  color: white;
}
.projects-wrap {
  display: flex;
}

.quality {
  font-family: "../fonts/Proxima Nova Regular";
  display: flex;
  margin-bottom: 150px;
}
.quality-wrap {
  margin-right: auto;
  display: flex;
}
.quality__slide {
  background-color: #DCE2EE;
  display: flex;
  width: 1076px;
  height: 530px;
}
.quality__slide_img {
  width: 480px;
  height: 410px;
  margin: 60px;
}
.quality__slide_info-descripiton {
  display: block;
  background-color: #133D8D;
  color: white;
  padding: 8px 12px 5px 12px;
  width: 157px;
  height: 31px;
  font-size: 13px;
  text-align: center;
  margin-top: 60px;
  margin-left: 60px;
}
.quality__slide_info-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 40px;
  margin-left: 60px;
  margin-bottom: 25px;
}
.quality__slide_info-notes {
  width: 387px;
  font-size: 14px;
  margin-left: 45px;
}
.quality__slide_info-notes li::marker {
  color: #BD0007;
  font-size: 24px;
}
.quality__button {
  border: none;
  color: white;
  font-family: "../fonts/Proxima Nova Regular";
  font-weight: bold;
  font-size: 25px;
  height: 60px;
  width: 60px;
  background-color: #133D8D;
  margin-top: 235px;
}
.quality__button-left {
  margin-right: 50px;
}
.quality__button-right {
  margin-left: 50px;
}

.footer {
  padding-top: 10px;
  color: white;
  background-color: #133D8D;
  font-family: "../fonts/Proxima Nova Thin";
  font-weight: bold;
}
.footer a {
  style: none;
  color: white;
  text-decoration: none;
}
.footer-block {
  padding: 70px;
}
.footer__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  font-family: "../fonts/Proxima Nova Regular";
}
.footer-block {
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer__contacts_adress-spb {
  margin: 0;
}
.footer__about {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.footer-title {
  font-family: "../fonts/Proxima Nova Regular";
  font-weight: bold;
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.footer__contacts li {
  display: block;
  text-align: right;
}
.footer li {
  list-style-type: none;
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

main {
  margin-bottom: 150px;
}

.header__services {
  background: none;
  background-color: #133D8D;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
}

.container {
  max-width: 1297px;
  margin: auto;
}

.services-wrap {
  display: flex;
}
.services__info {
  font-family: "../fonts/Proxima Nova Regular";
  width: 50%;
}
.services__info_title {
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-transform: uppercase;
}
.services__info_navigation {
  display: flex;
  margin-bottom: 65px;
}
.services__info_navigation li::marker {
  color: #133D8D;
}
.services__info_text1 {
  padding: 25px;
  border-left: 2px solid #BD0007;
  margin-bottom: 65px;
}
.services__info_title-text {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 30px;
}
.services__info_text {
  margin-bottom: 60px;
}
.services__indicators {
  width: 524px;
  height: 620px;
  background-color: #133D8D;
  margin-top: 273px;
  margin-left: 50px;
  color: white;
  font-family: "../fonts/Proxima Nova Regular";
  padding: 50px 60px 60px 60px;
}
.services__indicators_title {
  font-size: 18px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.services__indicators-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__indicators_item {
  flex-basis: 50%;
  height: 90px;
  margin-top: 35px;
  font-size: 14px;
}
.services__indicators_item span {
  font-size: 64px;
  font-weight: bold;
}

.contacts {
  font-family: "../fonts/Proxima Nova Regular";
}
.contacts__map {
  margin-top: -280px;
}
.contacts__title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 90px;
  margin-bottom: 43px;
}
.contacts__navigation {
  font-size: 13px;
  font-weight: bold;
  display: flex;
  margin-bottom: 60px;
}
.contacts__navigation li::marker {
  color: #133D8D;
}
.contacts__info-label {
  background-color: #fff;
  position: relative;
  top: 320px;
  left: 50px;
  width: 275px;
  height: 275px;
  padding: 35px 40px;
}
.contacts__info-label svg {
  display: block;
}
.contacts__info-label-warp {
  display: flex;
  margin-top: 17px;
  font-weight: bold;
}
.contacts__info-label_citys {
  width: 78px;
  height: 37px;
  border: none;
  background-color: #133D8D;
  color: white;
  font-family: "../fonts/Proxima Nova Regular";
  font-size: 13px;
}
.contacts__info-label_citys-msk {
  margin-right: 20px;
}
.contacts__info-label a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.contacts__text {
  display: block;
  margin-left: 18px;
}

.career {
  font-family: "../fonts/Proxima Nova Regular";
}
.career__title {
  display: block;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 90px;
}
.career__navigation {
  margin-top: 60px;
  font-size: 13px;
  font-weight: normal;
  display: flex;
  margin-bottom: 60px;
}
.career__navigation-option-main {
  display: flex;
}
.career__navigation-option-main-vacansies {
  margin-left: 35px;
}
.career__navigation il::marker {
  color: #133D8D;
}
.career__tanker-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.career-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.career__item {
  flex-basis: 33%;
  padding: 35px;
  border: 1px solid #C9C9C9;
}
.career__item_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}
.career__item_name {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}
.career__item_contract {
  margin-bottom: 25px;
  font-size: 14px;
  font-weight: bold;
}
.career__item svg {
  margin-right: 18px;
}
.career__item_detail {
  width: 101px;
  height: 37px;
  background-color: #133D8D;
  color: white;
  border: none;
}/*# sourceMappingURL=style.css.map */